{namespace sub=Subugoe\Subtabs\ViewHelpers}

<div class="search_content" id="Katalog">
	<f:for each="{kataloge}" as="katalogliste">
		<div class="search_catalog-list">
			<f:for each="{katalogliste.katalogListe}" as="liste" iteration="katalogIterator">
				<label class="search_label">
					<f:if condition="{liste.neuesFenster}">
						<f:then>
							<f:form.radio name="kataloge" class="search_radio -new-window" value="{f:uri.page(pageUid:'{liste.url}',noCacheHash:'true')}" checked="{katalogIterator.isFirst}"/>
						</f:then>
						<f:else>
							<f:form.radio name="kataloge" value="{f:uri.page(pageUid:'{liste.url}',noCacheHash:'true')}" checked="{katalogIterator.isFirst}"/>
						</f:else>
					</f:if>
					<sub:explode glue=" - " content="{liste.titel}" as="abbr"/>
					<span <f:if condition="{abbr.1}"><f:then> class="search_description"</f:then><f:else> title="{liste.information}"</f:else></f:if>>{abbr.0}	</span>
					<f:if condition="{abbr.1}">
						<f:link.external class="search_label-link" uri="{liste.direktLink}" title="{liste.direktLinkTitel}">{abbr.1}</f:link.external>
					</f:if>
				</label>
			</f:for>
			<ul class="search_catalog-page-list">
				<f:for each="{katalogliste.seitenListe}" as="page">
					<li>
						<f:link.page pageUid="{page.uid}">{page.title -> f:format.htmlentitiesDecode()}</f:link.page>
					</li>
				</f:for>
			</ul>
		</div>
	</f:for>
</div>
