<label for="titel">
	<f:translate key="tx_subtabs_domain_model_katalog.titel" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="titel" /><br />
<label for="url">
	<f:translate key="tx_subtabs_domain_model_katalog.url" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="url" /><br />
<label for="information">
	<f:translate key="tx_subtabs_domain_model_katalog.information" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="information" cols="40" rows="15" /><br />
<label for="neuesFenster">
	<f:translate key="tx_subtabs_domain_model_katalog.neues_fenster" />
</label><br />
	<f:form.textbox property="neuesFenster" /><br />