<table class="tx-subtabs-pi1" >
	<tr>
		<td>
			<f:translate key="tx_subtabs_domain_model_katalog.titel" />
		</td>
		<td>
			{katalog.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_subtabs_domain_model_katalog.url" />
		</td>
		<td>
			{katalog.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_subtabs_domain_model_katalog.information" />
		</td>
		<td>
			{katalog.information}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_subtabs_domain_model_katalog.neues_fenster" />
		</td>
		<td>
			{katalog.neuesFenster}
		</td>
	</tr>
</table>