{namespace t3jquery=Tx_T3jquery_ViewHelpers}

<div class="search">

	<div class="search_popup -clip-right">
		<ul class="search_navigation">
			<li><a href="#catalogue" class="search_tab -catalogue"><f:translate key="Katalog"/></a></li>
			<li><a href="#subjects" class="search_tab -subjects"><f:translate key="Faechersammlungen"/></a></li>
			<li><a href="#website" class="search_tab -website"><f:translate key="Webseite"/></a></li>
		</ul>
	</div>

	<f:form method="get" class="search_form -catalogue -visible" action="/">
		<f:form.textfield type="text" name="searchcat" id="mytextbox" size="40" class="search_input" placeholder="{f:translate(key:'labelkatalogsuche')}"/>
		<label for="mytextbox" class="sr-only"><f:translate key="labelkatalogsuche"/></label>
		<f:form.button type="submit" class="search_submit"><span class="sr-only"><f:translate key="suchSubmitButton"/></span></f:form.button>
	</f:form>

	<f:form class="search_form -subjects">
		<f:form.textfield type="text" name="searchcat" id="q" size="40" class="search_input" placeholder="{f:translate(key:'labelfaecher')}"/>
		<label for="q" class="sr-only"><f:translate key="labelfaecher"/></label>
	</f:form>

	<f:form action="{f:translate(key:'solrTarget')}" method="get" class="search_form -website">
		<f:form.textfield type="text" name="searchcat" id="solrtab" size="40" class="search_input" placeholder="{f:translate(key:'suchAufWebseiten')}"/>
		<label for="solrtab" class="sr-only"><f:translate key="suchAufWebseiten"/></label>
		<f:form.button type="submit" class="search_submit"><span class="sr-only"><f:translate key="suchSubmitButton"/></span></f:form.button>
	</f:form>

	<div class="search_popup">
		<f:render partial="Katalog" arguments="{_all}" />
		<f:render partial="Faechersammlungen" arguments="{_all}" />
		<f:render partial="Webseite" arguments="{_all}" />
	</div>

</div>
