{namespace t3jquery=Tx_T3jquery_ViewHelpers}

<t3jquery:addJQueryAndScript jsfile="{f:uri.resource(path:'JavaScript/SubTabs.js')}">
	$(function () {
		if (Modernizr.input.placeholder === false) {
			$('#mytextbox').attr('value', '<f:translate key="labelkatalogsuche" />')
			$('#q').attr('value', '<f:translate key="labelfaecher" />');
			$('#solrtab').attr('value', '<f:translate key="suchAufWebseiten" />')
			$('.placeholder').focusin(function () {
				$(this).attr('value', '')
			})
			$('.formButton').click(function () {
				$('.placeholder').attr('value', '')
			})
		}
	})
</t3jquery:addJQueryAndScript>

<div class="search">

	<f:form method="get" class="search_form" action="/">
		<label for="search_input" class="sr-only"><f:translate key="labelkatalogsuche"/></label>
		<f:form.textfield type="search" name="searchcat" id="search_input" size="40" class="search_input" placeholder="{f:translate(key:'labelkatalogsuche')}"/>
		<!--<f:form.submit value="{f:translate(key:'suchSubmitButton')}" class="search_submit"/>-->
		<!-- TODO: Replace with fluid code -->
		<button type="submit" class="search_submit"><span class="sr-only"><f:translate key="suchSubmitButton"/><span></button>
	</f:form>

	<div class="search_popup">

		<f:render partial="Katalog" arguments="{_all}" />
		<f:render partial="Faechersammlungen" arguments="{_all}" />
		<f:render partial="Webseite" arguments="{_all}" />

		<ul class="search_navigation">
			<li><f:link.page section="Katalog" id="tab-katalog" addQueryString="TRUE"><f:translate key="Katalog"/></f:link.page></li>
			<li><f:link.page section="Faechersammlungen" id="tab-faechersammlungen" addQueryString="TRUE"><f:translate key="Faechersammlungen"/></f:link.page></li>
			<li><f:link.page section="Webseite" id="tab-webseite" addQueryString="TRUE"><f:translate key="Webseite"/></f:link.page></li>
		</ul>

	</div>

</div>
