<div class="tx-subtabs-pi1">
	<f:for each="{kataloge}" as="katalogliste">
		<f:for each="{katalogliste.katalogListe}" as="liste">
			<h2>{liste.titel}</h2>
			<form method="post" action="{liste.url}">

				<label for="kataloge-suchen-{liste.uid}">Suchbegriff</label>
				<input type="text" name="{liste.suchparameter}" id="kataloge-suchen-{liste.uid}" size="40" placeholder="{f:translate(key:'labelkataloge')}" />
				<input type="submit" value="{f:translate(key:'tx_subtabs_domain_model_katalog.suchen')}" />
			</form>
			<br />

			<p>{liste.information}</p>
		</f:for>

	</f:for>
	<f:for each="{goks}" as="gok">
		{gok.descr}<br />
	</f:for>
</div>