.tx-subtabs-tabs {
  vertical-align: super;
}

.tx-subtabs-fach {
  display: none;
}

.circle {
  width: 140px;
  height: 140px;
  background: #1a3771;
  border-radius: 70px;
  color: white;
}

.tabs {
  position: relative;
  height: 25px;
  max-width: 65%;
  margin-top: -25px;
  left: 25%;
  overflow: visible;
  z-index: 10;
}
.tabs .tabElement .fsResults {
  font-size: .7em;
  top: -.4em;
  position: relative;
  right: -.4em;
  padding: .3em;
  text-shadow: none;
}
.tabs .tabElement:hover, .tabs .tabElement.selected, .tabs .tabElement.hover {
  text-decoration: none;
}
.tabs .formButton {
  width: 13.774410774%;
  border: 1px solid #434343;
  border-color: #bbb;
  border-radius: 3px;
  background: url("/typo3conf/ext/subtabs/Resources/Public/Icons/button_shade_large.png") repeat-x scroll 0 100% #f3f6fb;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  line-height: 100%;
  padding: 6px 8px 4px;
  height: 30px;
  color: #434343;
  margin-left: 10px;
}
.tabs .tabsContentPlus {
  margin-top: 8px;
  position: relative;
  float: left;
  width: 75%;
}
.tabs .tabsContentPlus ul {
  padding-left: 0;
}
.tabs .noMatch {
  color: #767676;
}
.tabs .linkList {
  margin-top: 8px;
}
.tabs form {
  padding: 0;
}
.tabs form input[type=search] {
  border-radius: 3px;
  box-shadow: rgba(119, 119, 119, 0.4) 0 0 5px inset;
  box-sizing: content-box;
  border-width: 1px;
  border-color: #bbb;
  padding: 0 10px;
  width: 79.888268156%;
  height: 28px;
  font-size: 14px;
  line-height: 26px;
  float: left;
}
.tabs .ui-state-hover {
  margin-bottom: 2px;
  font-weight: bold;
}
.tabs #Katalog .tabsContentPlus .description {
  position: absolute;
  width: auto;
}
.tabs #Katalog .tabsContentPlus label a {
  color: #1a3771;
  margin-left: 3px;
}
.tabs #Katalog .tabsContentPlus label a:visited {
  color: #1a3771;
}
.tabs #Katalog .tabsContentPlus label a:hover {
  text-decoration: underline;
}
.tabs #Katalog .tabsContentPlus .separator {
  padding-left: 11rem;
}
.tabs #Faechersammlungen .noResults {
  position: absolute;
  right: 1%;
  text-transform: uppercase;
}
.tabs #Faechersammlungen .field {
  width: 95.477386935%;
}

.tabNavigation {
  height: 25px;
  margin-left: 1px;
}
.tabNavigation a {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 8px 6px;
  background-color: #dee1e7;
  margin-right: 0;
  color: #1a3771;
  font-size: 1.3em;
}
.tabNavigation a:hover {
  background-color: white;
}
.tabNavigation li {
  list-style-type: none;
  display: inline;
}
.tabNavigation .hover {
  background-color: #dee1e7;
}
.tabNavigation .selected {
  background-color: white;
  color: #1a3771;
  text-shadow: 0 1px 0 white;
  border-bottom: 2px solid white;
  z-index: 1000000;
  position: relative;
}
.tabNavigation .tabsTagline {
  background-color: #6e7fa0;
  color: white;
  font-size: 90%;
}

.tabsContentLarge {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: auto;
}

.tabsContentSmall {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #fafafa;
  border-right: 1px solid #6e7fa0;
  border-left: 1px solid #6e7fa0;
  border-bottom: 1px solid #6e7fa0;
}

.tabsContent {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: rgba(119, 119, 119, 0.4) 0 7px 7px;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-right: 1px solid #1a3771;
  border-bottom: 1px solid #1a3771;
  border-left: 1px solid #1a3771;
  border-top: 1px solid #1a3771;
  float: left;
  position: absolute;
  display: none;
  margin-top: 0;
  left: 0;
}
.tabsContent input[type=radio] {
  margin-right: 5px;
  margin-left: 2px;
}
.tabsContent ul {
  margin: 0 0 0 2px;
}
.tabsContent ul li {
  list-style-type: none;
  background-image: url("/typo3conf/ext/subtabs/Resources/Public/Icons/arrow_right.png");
  background-repeat: no-repeat;
  background-position: 2px 5px;
  padding: 0;
  margin: 0;
  padding-left: 14px;
  float: left;
  width: 93%;
  clear: both;
}
.tabsContent ul li a {
  color: #1a3771;
}
.tabsContent ul li a:hover {
  text-decoration: underline !important;
}
.tabsContent .trefferliste {
  color: #444;
  text-indent: -5px;
  margin-left: 6px;
}
.tabsContent .highlight {
  background-color: #dee1e7;
}
